<div class="filter">
  Filtrar
  <span class="arrow-down"></span>
</div>
<div class="filter-name">
  <div>
    <i class="icon-search"></i>
    <span class="title-name">Nombre Hotel </span>
    <span class="arrow-up"></span>
  </div>
  <div>
    <input class="form-control" placeholder="Ingrese el nombre del hotel" />
    <button class=""> Aceptar</button>
  </div>
</div>

<div class="filter-stars">
  <div>
    <i class="icon-search"></i>
    <span class="title-name"> Estrellas </span>
    <span class="arrow-up"></span>
  </div>
  <div class="">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="allStars">
      <label class="custom-control-label" for="allStars">Todas las estrellas</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="fiveStars">
      <label class="custom-control-label" for="fiveStars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="fourStars">
      <label class="custom-control-label" for="fourStars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="threeStars">
      <label class="custom-control-label" for="threeStars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="twoStars">
      <label class="custom-control-label" for="twoStars">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
      </label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="oneStart">
      <label class="custom-control-label" for="oneStart">
        <i class="icon-star"></i>
      </label>
    </div>
  </div>
</div>