$blue-header: #0d3e7e;
$blue-botton: #002c77;
$blue-title: #157ab1;
$yellow-start: #fdba12;
$orange-price: #df6800;
$background-body: #f4f4f4;
$white: #fff;
$black: #000;
$grey: #444444;
$gray-shadow: #b1b1b1;
$gray-light: #cccccc; 

$md : 768px;