<div class="card-hotel">
  <img src="~assets/img/hotels/4d72efed_b.jpg">
  <div class="description">
    <h3>
      Hotel Stefanos
    </h3>
    <div class="calification">
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
    </div>
    <div class="services">
      <i class="icon-beach-pool-facilities"></i>
      <i class="icon-kitchen-facilities"></i>
      <i class="icon-garden"></i>
      <i class="icon-star"></i>
      <i class="icon-children-club"></i>
    </div>
  </div>
  <div class="price">
    <span class="note">
    Precio por noche por habitación
    </span>
    <span class="value">
      <span> ARS </span>  <span>863</span>
    </span>
    <button>
      Ver hotel
    </button>
  </div>

</div>